<div *ngIf="loading" class="container">
  <h2>Repositories</h2>

  <span class="spinner-grow text-secondary spinner-grow-sm btn-spinner" role="status" aria-hidden="true"></span>
  <span class="mx-2 text-secondary">Loading...</span>
</div>

<div *ngIf="!loading" class="container">
  <h2>Repositories</h2>

  <div *ngIf="repositories.length == 0">
    <p class="text-secondary">No repositories found.</p>
    <button type="button" class="btn btn-primary" routerLink="create">
      Create repository
    </button>
  </div>

  <div *ngIf="repositories.length > 0" class="mt-3">
    <button type="button" class="btn btn-primary" routerLink="create">
      Create repositories
    </button>
  </div>
</div>