<div class="mt-4">
  <div class="bg-data border-data p-3 mt-2">

    <table class="table table-borderless mt-2">
      <thead>
        <tr class="table-light text-secondary">
          <th scope="col">Name</th>
          <th scope="col">Jobs</th>
          <th scope="col">Created at</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of projects">
          <td>
            <div title="{{ item.name }}">
              <a routerLink="{{ item.id }}">{{ item.name }}</a>
            </div>
          </td>
          <td>
            <div>
              <a routerLink="{{ item.id }}">{{ item.numJobs }}</a>
            </div>
          </td>
          <td>
            <div>
              {{ item.formattedDate() }}
            </div>
          </td>
          <td>
            <div>
              {{ item.description }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>