* {
  font-family: 'Roboto Mono', sans-serif;
  border-radius: 0 !important;
}

body {
  background-color: #f7f7f8;
}

small {
  font-size: 12px !important;
}

.bg-data {
  background-color: rgba(255, 255, 255, 0.6);
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

label strong {
  color: #0d6efd;
}

.alert {
  font-size: 14px;
}

.form-control:disabled, .form-control[readonly], .form-select:disabled {
  background-color: #f7f7f8;
  opacity: 1;
}

.btn-spinner {
  margin-bottom: 3px;
}

thead {
  background-color: #f7f7f8;
}

tbody tr:hover {
  background-color: #f7f7f8 !important; 
}
