<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li routerLink="/inventories" class="breadcrumb-item" aria-current="page">
        inventories
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        create
      </li>
      <li *ngIf="model.name.length > 0" class="breadcrumb-item active" aria-current="page">
        {{ model.name }}
      </li>
    </ol>
  </nav>

  <div class="bg-data border-data p-4 mt-4">
    <h4>Create inventory</h4>

    <form autocomplete="off">
      <div class="row">
        <div class="col-7 mb-3">
          <label for="frmName" class="form-label">Name</label>
          <input type="text" class="form-control" name="frmName" id="frmName" placeholder="Inventory name"
            [(ngModel)]="model.name" [disabled]="loading" required>
          <small class="form-text text-muted">Required. Only alphanumeric and spaces are allowed.</small>
        </div>
      </div>

      <div class="row">
        <div class="col-7 mb-3">
          <label for="frmDescription" class="form-label">Description</label>
          <input type="text" class="form-control" name="frmDescription" id="frmDescription"
            placeholder="Inventory description" [(ngModel)]=" model.description" [disabled]="loading">
        </div>
      </div>

      <div class="row">
        <div class="col-2 mb-5">
          <label for="frmSource" class="form-label">Source</label>
          <select name="source" class="form-select" aria-label="Select inventory source" [disabled]="loading"
            [(ngModel)]="model.source">
            <option *ngFor=" let source of sources" [ngValue]="source.id">
              {{ source.name }}
            </option>
          </select>
        </div>
      </div>

      <div *ngIf="model.source === 'file'" class="row">
        <div class="col-7 mb-3">
          <label for="frmFilePath" class="form-label">Path to inventory file</label>
          <input type="text" class="form-control" name="frmFilePath" id="frmFilePath" placeholder="Inventory file path"
            [(ngModel)]="model.fileConfig!.path" [disabled]="loading" required>
          <small class="form-text text-muted">Required. Relative path to project root where inventory is.</small>
        </div>
      </div>

      <button type="submit" class="btn btn-primary mt-3" [disabled]="!model.name || !model.fileConfig!.path || loading"
        (click)="createInventory()">
        <span *ngIf="loading" class="spinner-grow spinner-grow-sm btn-spinner" role="status" aria-hidden="true"></span>
        Create
      </button>
    </form>
  </div>

</div>