<div *ngIf="loading" class="container">
  <span class="spinner-grow text-secondary spinner-grow-sm btn-spinner" role="status" aria-hidden="true"></span>
  <span class="mx-2 text-secondary">Loading...</span>
</div>

<div *ngIf="!loading" class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li routerLink="/projects" class="breadcrumb-item" aria-current="page">
        projects
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ project.id }}
      </li>
      <li class="breadcrumb-item" aria-current="page">
        job
      </li>
      <li *ngIf="model.name.length > 0" class="breadcrumb-item active" aria-current="page">
        {{ model.name }}
      </li>
    </ol>
  </nav>

  <div class="bg-data border-data p-4 mt-4">
    <h4>Create job</h4>

    <form autocomplete="off">
      <div class="row">
        <div class="col-7 mb-3">
          <label for="frmName" class="form-label"><strong>Name</strong></label>
          <input type="text" class="form-control" name="frmName" id="frmName" placeholder="Job name"
            [(ngModel)]="model.name" [disabled]="loading" required>
          <small class="form-text text-muted">Required. Only alphanumeric and spaces are allowed.</small>
        </div>
      </div>

      <button type="submit" class="btn btn-primary mt-3" [disabled]="!model.name || loading" (click)="createJob()">
        <span *ngIf="loading" class="spinner-grow spinner-grow-sm btn-spinner" role="status" aria-hidden="true"></span>
        Create
      </button>
    </form>
  </div>

</div>