<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid mx-4 my-1">
    <a class="navbar-brand" [routerLink]="['/']">Jansib</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-4">
        <li class="nav-item ms-2">
          <a class="nav-link" [routerLink]="['/projects']" routerLinkActive="active">
            Projects
          </a>
        </li>
        <li class="nav-item ms-2">
          <a class="nav-link" [routerLink]="['/keystores']" routerLinkActive="active">
            Keystores
          </a>
        </li>
        <li class="nav-item ms-2">
          <a class="nav-link" [routerLink]="['/inventories']" routerLinkActive="active">
            Inventories
          </a>
        </li>
        <li class="nav-item ms-2">
          <a class="nav-link" href="">
            Repositories
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<div class="container-fluid mt-4">
  <router-outlet></router-outlet>
</div>