<div *ngIf="loading" class="container">
  <h2>Keystores</h2>

  <span class="spinner-grow text-secondary spinner-grow-sm btn-spinner" role="status" aria-hidden="true"></span>
  <span class="mx-2 text-secondary">Loading...</span>
</div>

<div *ngIf=" !loading" class="container">
  <h2>Keystores</h2>

  <div *ngIf="keystores.length == 0">
    <p class="text-secondary">No keystores found.</p>
    <button type="button" class="btn btn-primary" routerLink="create">
      Create keystore
    </button>
  </div>
</div>